<h1>Grades#index</h1>
<p>Find me in app/views/grades/index.html.erb</p>
<% @grades.each do |grade| %>
<ul>
  <li>
    <h1><%= grade.name %></h1>
    <% grade.teachers.each do |teacher| %>
    <h2><%= teacher.name %></h2>
      <% teacher.students.each do |student| %>
      <p><%= student.name %></p>
      <% end %>
    <% end %>
  </li>
</ul>
<% end %>
