<% @grades.each do |grade| %>
<ul>
  <h1><%= link_to "#{grade.name}", grade_path(grade.id) %></h1>
  <li>
    <% grade.teachers.each do |teacher| %>
    <h2><%= teacher.name %></h2>
      <% teacher.students.each do |student| %>
      <p><%= student.name %></p>
      <% end %>
    <% end %>
  </li>
</ul>
<% end %>
