<h1><%= @user.last_name %></h1>
<h4><%= link_to "Back to #{@user.department.name}", department_path(@user.department.id) %></h4>
<% @students.each do |student| %>
<% if student.with_teacher_id == @user.id %>
<h3><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %></h3>
<% end %>
<% end %>
