<div class="white-card">
<h2>Class Actions:</h2>
  <div class="holder">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Take attendance</button>

    <%= render "shared/attendance-modal" %>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Give class to:</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @teachers.each do |teacher| %>
          <%= link_to "#{teacher.teacher_name}", give_class_to_user_path(teacher.id), method: "patch", data: { confirm: "Are you sure you want to give your class to #{teacher.teacher_name}?" }, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>

    <%= link_to "Take back your class", take_back_class_user_path(current_user.id), method: "patch", class: "btn btn-flat" %>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dismiss all:</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% current_user.school.dismissal_types.each do |dt| %>
          <%= link_to "#{dt.name}", dismiss_type_with_dismissal_type_path(dt.id), method: "patch", class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
