<% @user.school.dismissal_types.each do |dt| %>
  <div class="white-card">
    <h2><%= dt.name %></h2>
    <div class="holder">
      <% @user.students.each do |student| %>
        <% if student.dismissal_type == dt %>
          <div class="thumbnail">
            <%= image_tag student.photo, alt: "student picture", class: "avatar-large" %>
            <p><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
