.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  margin-bottom: 4px;
}

.btn-flat:hover {
  background: $reddish;
  color: white;
}

#dropdownMenuButton {
  padding: 8px 24px;
  background: $orange;
  transition: background 0.3s ease;
  margin-left: 8px;
  border-color: $orange;
  box-shadow: none;
}
#dropdownMenuButton:hover {
  background: $reddish;
  border-color: $reddish;
}

.btn-ghost {
  color: $orange;
  border: 1px solid $orange;
  padding: 4px 12px;
  margin: 8px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: $reddish;
  border-color:$reddish;
  text-decoration: none;
}
