.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  margin-bottom: 4px;
}

.btn-flat:hover {
  background: $reddish;
  color: white;
}

#dropdownMenuButton {
  padding: 8px 24px;
  background: $orange;
  transition: background 0.3s ease;
  margin-left: 8px;
  border-color: $orange;
  box-shadow: none;
}
#dropdownMenuButton:hover {
  background: $reddish;
  border-color: $reddish;
}
