.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search-form {
  display: flex;
  flex-direction: row;
}
